/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
    vertical-align: baseline;
}

:root {
    --theme_color: #C20E35;
    --laptop_nav_text: 1.16vw;
    --laptop_about_text: 1.215vw;
    --laptop_standard_text: 1.1vw;
    --laptop_nav_link_text: 1vw;
    --laptop_header_footer_margins: 0.75vw;
  }




@media screen and (max-width: 600px) {

    .header-container-desktop {
        display: none;
    }

    header {
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 4vw;
        padding-left: 4.5vw; 
        padding-right: 5vw;
        padding-top: 2vw;
    }
    .header_h2 {
        color: white; 
        font-weight: normal; 
        margin-left: 8.3vw;
        padding-bottom: 0vw;
        font-size: 0vw;
    }
    .h2_emoji {
        margin-left: 0.2vw; 
        margin-bottom: -0.275vw; 
        padding-bottom: 0vw;  
        height: 0vw; 
        width: auto; 
        border: none;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: left;
        padding: 3vw;
        text-decoration: none;
    }
  
    /* Add an active class to highlight the current page */
    .active {
        background-color: #C20E35;
        color: white;
    }
    
    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        margin-right: 6vw;
        margin-top: 1.75vw;
        margin-bottom: 1.5vw;
        font-size: 4vw;
        display: none;
    }
    
    /* Add a dark background on topnav links and the dropdown button on hover */
    .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #C20E35;
        color: white;
    }
  
    /* Add a grey background to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
        color: #C20E35;
    }
  
    /* Show the dropdown menu when the user moves the mouse over the dropdown button */
    .dropdown:hover .dropdown-content {
    display: block;
    }
  
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .emojis {
        height: 3.25vw; 
        width: auto; 
        margin-right: 2vw;
        margin-bottom: -0.275vw; 
        border: none;
    }
    .nav_links {
        font-size: 3vw;
        margin-left: 3.75vw;
    }
    .final_nav_link {
        font-size: 3vw;
        margin-left: 3.75vw;
        margin-bottom: 3vw;
    }
    .container {
        width: 80%;
        line-height: 200%;
    }
    .project {
        display: inline;
    }
    .project-1 {
        width: 100%;
        margin-top: 1vw;
        margin-bottom: 12vw;
    }
    .project-2 {
        width: 100%;
        margin-top: 1vw;
        margin-bottom: 12vw;
    }
    .project img {
        height: 30vw;
    }
    .chatbot {
        width: 80vw;
    }
    .tableau {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-left: auto; 
        margin-right: auto;
    }
    #freelance-pics {
        margin-bottom: 2vw;
        height: 27.5vw; 
        margin-top:1vw; 
        width: auto;
    }
    .previous {
        right: 60vw;
    }
    .next {
        left: 60vw;
    }
    button {
        display: flex;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        font-size: 3vw;
        width: 7.5vw;
        height: 15vw;
    }
   .photo-arrow {
        height: 3vw !important;
        padding: 0vw;
        padding-top: 5.25vw;
        margin: 0vw;
        border:none;
        opacity: 0.75;
    }
    h2 {
        font-size: 3.75vw;
        padding-bottom: 2.5vw;
        padding-top: 0vw;
    }
    h3 {
        font-size: 3vw;
    }
    h4 {
        font-size: 3vw;
    }
    p {
        font-size: 3vw;
    }
    u {
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    ul {
        font-size: 3vw;
        padding-left: 0vw;
    }
    .page-title h1 {
        padding-top: 2vw;
        font-size: 3.75vw;
        padding-bottom: 1.75vw;
    }
    .project h3 {
        font-size: 3vw;
        padding-bottom: 0.75vw;
    }
    .project p {
        font-size: 3vw;
    }
    .about-project {
        margin-top: 2vw;
        margin-bottom: 12vw;
    }
    .about-project h3 {
        font-size: 3.25vw;
        padding-bottom: 0.75vw;
    }
    .emojis-about {
        margin-bottom: -0.5vw;
        height: 3.25vw; 
        width: auto; 
        margin-right: 2vw;
        border: none;
    }
    .about-project ul {
        margin-bottom: 5vw;
    }
    .about-project li {
        font-size: 3vw;
    }
    .about-project u {
        font-size: 3vw;
    }
    .about-project p {
        font-size: 3vw;
    }
    .skills-list {
        margin-left: 0vw;
        font-size: 3vw;
    }
    .skills-p {
        padding-bottom: 0.5vw; 
        padding-top: 0.5vw; 
        padding-left: 5.25vw;
    }
    .section-break {
        margin-top: -6vw;
        padding-bottom: 8vw;
    }
    .text-image-wrap {
        margin-bottom: 5vw;
    }
    .text-inline p {
        font-size: 3vw;
    }
    .image-inline-container img {
        height: 47.5vw;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        padding-top: 0.5vw;
        padding-bottom: 6vw;
    }
    .quote {
        margin-top: 2vw;
        margin-bottom: 12vw;
    }
    .quote p {
        font-size: 3vw;
    }
    .quote h4 {
        font-size: 3vw;
    }
    .quote-text {
        font-size: 3vw;
    }
    .quote-text p {
        font-size: 3vw;
    } 
    .footer-container-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.8vw;
        margin: 0vw;
        background-color: var(--theme_color);
        opacity: 0.95;
    }

    .footer-container-desktop {
        display: none;
    }

    footer {
        width: 75%;
        margin: 0 auto;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        white-space: nowrap;
        overflow: hidden;
    }
    footer p {
        color: white;
    }
    .row {
        display: flex;
        justify-content:  space-around;
        margin-bottom: 1.5vw;
    }
    .column {
        flex: 1;
        text-align: center;
        padding: 0 4vw;
        max-width: 33.33%;
    }
    .column h3 {
        color: #fff;
        font-size: 1.5vw;
    }
    .column p {
        color: #ccc;
        font-size: 1.5vw;
    }
    .footer_a {
        color: white;
        font-size: 2.75vw;
        font-weight: bold;
    }
  }

@media screen and (min-width: 601px) and (max-width: 1366px) {
    .header-container-mobile {
        display: none;
    }
    .header-container-desktop {
        padding: 0.2vw;
        margin: 0vw;
        background-color: var(--theme_color);
        opacity: 0.95;
    }
    .header {
        width: 92.5%;
        margin: 0 auto;
    }
    h1 {
        font-size: 2vw;
        padding-left: 2.5vw; 
        padding-top: 1.45vw;
    }
    .header_h2 {
        color: white; 
        font-weight: normal; 
        padding-left: 4.2vw;
        padding-bottom: 0vw;
        font-size: 1.025vw;
    }
    .h2_emoji {
        margin-left: 0.2vw; 
        margin-bottom: -0.275vw; 
        padding-bottom: 0vw;  
        height: 1.225vw; 
        width: auto; 
        border: none;
    }
    nav {
        margin-top: 0.25vw;
    }
    nav li a {
        font-weight: bold;
        font-size: 1.3vw;
        margin-left: 10vw;
        opacity: 1;
    }
    .nav_final {
        padding-right: 3vw;
    }
    .emojis {
        height: 1.2vw; 
        width: auto; 
        margin-right: 0.7vw;
        border: none;
    }
    .not_emojis_about {
        color: #454545;
        font-size: var(--laptop_about_text);
    }
    .container {
        width: 76%;
    }
    .project {
        display: flex;
    }
    .project-1 {
        width: 47.5%;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .project-2 {
        width: 47.5%;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .project img {
        height: 14vw;
    }
    .chatbot {
        width: 60vw;
    }
    .tableau {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-left: auto; 
        margin-right: auto;
    }
    #freelance-pics {
        margin-bottom: 0vw;
        height: 18vw; 
        margin-top:1vw; 
        width: auto;
    }
    .previous {
        right: 27.5vw;
    }
    .next {
        left: 27.5vw;
    }
    button {
        display: flex;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        width: 4vw;
        height: 4.5vw;
      }
    .photo-arrow {
        height: 1.75vw !important;
        width: auto;
        padding-right: 0.25vw;
        padding-top: 0.5vw;
        border:none;
        opacity: 0.25;
    }
    h2 {
        font-size: 1.8vw;
        margin-top: 0.5vw;
    }
    h3 {
        font-size: var(--laptop_standard_text);
    }
    p {
        font-size: var(--laptop_standard_text);
    }
    u {
        font-size: var(--laptop_about_text);
    }
    ul {
        font-size: var(--laptop_standard_text);
    }
    .page-title h1 {
        font-size: 2vw;
        padding-left: 0vw;
        padding-top: 2vw;
        padding-bottom: 1.75vw;
    }
    .project h3 {
        font-size: var(--laptop_standard_text);
        padding-bottom: 1vw;
    }
    .project p {
        font-size: var(--laptop_standard_text);
    }
    .about-project {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .about-project h3 {
        font-size: var(--laptop_about_text);
        padding-bottom: 1vw;
    }
    .emojis-about {
        margin-bottom: -0.15vw;
        height: 1.25vw; 
        width: auto; 
        margin-right: 2vw;
        border: none;
    }
    .about-project ul {
        margin-bottom: 2vw;
    }
    .about-project li {
        font-size: var(--laptop_about_text);
    }
    .about-project u {
        font-size: var(--laptop_about_text);
    }
    .about-project p {
        font-size: var(--laptop_about_text);
    }
    .skills-list {
        line-height:120%; 
        margin-left: 0vw;
    }
    .skills-p {
        padding-bottom: 1vw; 
        padding-top: 0vw; 
        padding-left: 3.25vw;
        font-size: var(--laptop_standard_text);
    }
    .image-inline-container img {
        height: 18vw;
        display: block;
        float: right;
        padding-bottom: 3.25vw;
        margin-top: 1.75vw;
    }
    .inline-image-label {
        font-size: 0.975vw;
        padding-top: 0.5vw;
        margin-left: 55%;
    }
    .text-inline p {
        font-size: 1.22vw;
        padding-top: 0.25vw;
        padding-bottom: 0.25vw;
    }
    .quote {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .quote p {
        font-size: var(--laptop_standard_text);
    }
    .quote h4 {
        font-size: var(--laptop_standard_text);
    }
    .quote-text {
        font-size: var(--laptop_standard_text);
    }
    .quote-text p {
        font-size: var(--laptop_standard_text);
    }
    .footer-container-mobile { 
        display: none;
    }
    .footer-container-desktop {
        padding: 2vw;
        margin: 0vw;
        background-color: var(--theme_color);
        opacity: 0.95;
    }
    footer {
        width: 85%;
        margin: 0 auto;
        padding-top: 1vw;
        padding-bottom: 1vw;
        white-space: nowrap;
        overflow: hidden;
    }
    footer ul {
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
    }
    footer li {
        font-weight: bold;
        display: inline;
        color: white;
        text-decoration: none;
        margin: 0.25vw;
        font-size: 1.3vw;
    }
    footer li a {
        text-decoration: none;
        margin: 0.25vw;
        font-size: 1.3vw;
    }
    .final_footer_link {
        margin-right: 4vw;
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
    .header-container-mobile {
        display: none;
    }
    .header-container-desktop {
        padding: 0.2vw;
        margin: 0vw;
        background-color: var(--theme_color);
        opacity: 0.95;
    }
    .header {
        width: 92.5%;
        margin: 0 auto;
    }
    h1 {
        font-size: 2vw;
        padding-left: 2.5vw; 
        padding-top: 1.45vw;
    }
    .header_h2 {
        color: white; 
        font-weight: normal; 
        padding-left: 4.2vw;
        padding-bottom: 0vw;
        font-size: 1.025vw;
    }
    .h2_emoji {
        margin-left: 0.2vw; 
        margin-bottom: -0.275vw; 
        padding-bottom: 0vw;  
        height: 1.225vw; 
        width: auto; 
        border: none;
    }
    nav {
        margin-top: 0.25vw;
    }
    nav li a {
        font-weight: bold;
        font-size: 1.3vw;
        margin-left: 10vw;
        opacity: 1;
    }
    .nav_final {
        padding-right: 3vw;
    }
    .emojis {
        height: 1.2vw; 
        width: auto; 
        margin-right: 0.7vw;
        border: none;
    }
    .not_emojis_about {
        color: #454545;
        font-size: var(--laptop_about_text);
    }
    .container {
        width: 76%;
    }
    .project {
        display: flex;
    }
    .project-1 {
        width: 47.5%;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .project-2 {
        width: 47.5%;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .project img {
        height: 14vw;
    }
    .chatbot {
        width: 60vw;
    }
    .tableau {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-left: auto; 
        margin-right: auto;
    }
    #freelance-pics {
        margin-bottom: 0vw;
        height: 18vw; 
        margin-top:1vw; 
        width: auto;
    }
    .previous {
        right: 27.5vw;
    }
    .next {
        left: 27.5vw;
    }
    button {
        display: flex;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        width: 4vw;
        height: 4.5vw;
      }
    .photo-arrow {
        height: 1.75vw !important;
        width: auto;
        padding-right: 0.25vw;
        padding-top: 0.5vw;
        border:none;
        opacity: 0.25;
    }
    h2 {
        font-size: 1.8vw;
        margin-top: 0.5vw;
    }
    h3 {
        font-size: var(--laptop_standard_text);
    }
    p {
        font-size: var(--laptop_standard_text);
    }
    u {
        font-size: var(--laptop_about_text);
    }
    ul {
        font-size: var(--laptop_standard_text);
    }
    .page-title h1 {
        font-size: 2vw;
        padding-left: 0vw;
        padding-top: 2vw;
        padding-bottom: 1.75vw;
    }
    .project h3 {
        font-size: var(--laptop_standard_text);
        padding-bottom: 1vw;
    }
    .project p {
        font-size: var(--laptop_standard_text);
    }
    .about-project {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .about-project h3 {
        font-size: var(--laptop_about_text);
        padding-bottom: 1vw;
    }
    .emojis-about {
        margin-bottom: -0.15vw;
        height: 1.25vw; 
        width: auto; 
        margin-right: 2vw;
        border: none;
    }
    .about-project ul {
        margin-bottom: 2vw;
    }
    .about-project li {
        font-size: var(--laptop_about_text);
    }
    .about-project u {
        font-size: var(--laptop_about_text);
    }
    .about-project p {
        font-size: var(--laptop_about_text);
    }
    .skills-list {
        line-height:120%; 
        margin-left: 0vw;
    }
    .skills-p {
        padding-bottom: 1vw; 
        padding-top: 0vw; 
        padding-left: 3.25vw;
        font-size: var(--laptop_standard_text);
    }
    .image-inline-container img {
        height: 18vw;
        display: block;
        float: right;
        padding-bottom: 3.25vw;
        margin-top: 1.75vw;
    }
    .inline-image-label {
        font-size: 0.975vw;
        padding-top: 0.5vw;
        margin-left: 55%;
    }
    .text-inline p {
        font-size: 1.22vw;
        padding-top: 0.25vw;
        padding-bottom: 0.25vw;
    }
    .quote {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .quote p {
        font-size: var(--laptop_standard_text);
    }
    .quote h4 {
        font-size: var(--laptop_standard_text);
    }
    .quote-text {
        font-size: var(--laptop_standard_text);
    }
    .quote-text p {
        font-size: var(--laptop_standard_text);
    }
    .footer-container-mobile { 
        display: none;
    }
    .footer-container-desktop {
        padding: 2vw;
        margin: 0vw;
        background-color: var(--theme_color);
        opacity: 0.95;
    }
    footer {
        width: 85%;
        margin: 0 auto;
        padding-top: 1vw;
        padding-bottom: 1vw;
        white-space: nowrap;
        overflow: hidden;
    }
    footer ul {
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
    }
    footer li {
        font-weight: bold;
        display: inline;
        color: white;
        text-decoration: none;
        margin: 0.25vw;
        font-size: 1.3vw;
    }
    footer li a {
        text-decoration: none;
        margin: 0.25vw;
        font-size: 1.3vw;
    }
    .final_footer_link {
        margin-right: 4vw;
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 1920px) {
    .header-container-mobile {
        display: none;
    }
    .header-container-desktop {
        padding: 0.2vw;
        margin: 0vw;
        background-color: var(--theme_color);
        opacity: 0.95;
    }
    .header {
        width: 92.5%;
        margin: 0 auto;
    }
    h1 {
        font-size: 2vw;
        padding-left: 2.5vw; 
        padding-top: 1.45vw;
    }
    .header_h2 {
        color: white; 
        font-weight: normal; 
        padding-left: 4.2vw;
        padding-bottom: 0vw;
        font-size: 1.025vw;
    }
    .h2_emoji {
        margin-left: 0.2vw; 
        margin-bottom: -0.275vw; 
        padding-bottom: 0vw;  
        height: 1.225vw; 
        width: auto; 
        border: none;
    }
    nav {
        margin-top: 0.25vw;
    }
    nav li a {
        font-weight: bold;
        font-size: 1.3vw;
        margin-left: 10vw;
        opacity: 1;
    }
    .nav_final {
        padding-right: 3vw;
    }
    .emojis {
        height: 1.2vw; 
        width: auto; 
        margin-right: 0.7vw;
        border: none;
    }
    .not_emojis_about {
        color: #454545;
        font-size: var(--laptop_about_text);
    }
    .container {
        width: 76%;
    }
    .project {
        display: flex;
    }
    .project-1 {
        width: 47.5%;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .project-2 {
        width: 47.5%;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .project img {
        height: 14vw;
    }
    .chatbot {
        width: 60vw;
    }
    .tableau {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-left: auto; 
        margin-right: auto;
    }
    #freelance-pics {
        margin-bottom: 0vw;
        height: 18vw; 
        margin-top:1vw; 
        width: auto;
    }
    .previous {
        right: 27.5vw;
    }
    .next {
        left: 27.5vw;
    }
    button {
        display: flex;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        width: 4vw;
        height: 4.5vw;
      }
    .photo-arrow {
        height: 1.75vw !important;
        width: auto;
        padding-right: 0.25vw;
        padding-top: 0.5vw;
        border:none;
        opacity: 0.25;
    }
    h2 {
        font-size: 1.8vw;
        margin-top: 0.5vw;
    }
    h3 {
        font-size: var(--laptop_standard_text);
    }
    p {
        font-size: var(--laptop_standard_text);
    }
    u {
        font-size: var(--laptop_about_text);
    }
    ul {
        font-size: var(--laptop_standard_text);
    }
    .page-title h1 {
        font-size: 2vw;
        padding-left: 0vw;
        padding-top: 2vw;
        padding-bottom: 1.75vw;
    }
    .project h3 {
        font-size: var(--laptop_standard_text);
        padding-bottom: 1vw;
    }
    .project p {
        font-size: var(--laptop_standard_text);
    }
    .about-project {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .about-project h3 {
        font-size: var(--laptop_about_text);
        padding-bottom: 1vw;
    }
    .emojis-about {
        margin-bottom: -0.15vw;
        height: 1.25vw; 
        width: auto; 
        margin-right: 2vw;
        border: none;
    }
    .about-project ul {
        margin-bottom: 2vw;
    }
    .about-project li {
        font-size: var(--laptop_about_text);
    }
    .about-project u {
        font-size: var(--laptop_about_text);
    }
    .about-project p {
        font-size: var(--laptop_about_text);
    }
    .skills-list {
        line-height:120%; 
        margin-left: 0vw;
    }
    .skills-p {
        padding-bottom: 1vw; 
        padding-top: 0vw; 
        padding-left: 3.25vw;
        font-size: var(--laptop_standard_text);
    }
    .image-inline-container img {
        height: 18vw;
        display: block;
        float: right;
        padding-bottom: 3.25vw;
        margin-top: 1.75vw;
    }
    .inline-image-label {
        font-size: 0.975vw;
        padding-top: 0.5vw;
        margin-left: 55%;
    }
    .text-inline p {
        font-size: 1.22vw;
        padding-top: 0.25vw;
        padding-bottom: 0.25vw;
    }
    .quote {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .quote p {
        font-size: var(--laptop_standard_text);
    }
    .quote h4 {
        font-size: var(--laptop_standard_text);
    }
    .quote-text {
        font-size: var(--laptop_standard_text);
    }
    .quote-text p {
        font-size: var(--laptop_standard_text);
    }
    .footer-container-mobile { 
        display: none;
    }
    .footer-container-desktop {
        padding: 2vw;
        margin: 0vw;
        background-color: var(--theme_color);
        opacity: 0.95;
    }
    footer {
        width: 85%;
        margin: 0 auto;
        padding-top: 1vw;
        padding-bottom: 1vw;
        white-space: nowrap;
        overflow: hidden;
    }
    footer ul {
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
    }
    footer li {
        font-weight: bold;
        display: inline;
        color: white;
        text-decoration: none;
        margin: 0.25vw;
        font-size: 1.3vw;
    }
    footer li a {
        text-decoration: none;
        margin: 0.25vw;
        font-size: 1.3vw;
    }
    .final_footer_link {
        margin-right: 4vw;
        font-size: 1.3vw;
    }
}


/* body */ 
body {
   font-family: 'Century Gothic', sans-serif;
   max-width: 100%;
   padding: 0px;
   margin: 0px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #C20E35;
    overflow: hidden;
}


/* standard body elements */ 
h1 {
    display: inline-block;
    color: white;
    margin: 0vw;
    white-space: nowrap;
}
h2 {
    color: var(--theme_color);
    opacity: 0.95;
}
h3 {
    color: #454545;
    margin-top: 2.5px;
    margin-bottom: 5px;
    font-weight: normal;
}
img {
    border: 1.75px solid  #D3D3D3;
    border-radius: 3%;
    width: 300px;
    height: auto;
    text-align: right;
}
p {
    margin-top: 10px;
    line-height: 1.8;
    color: #454545;
}
a {
    color: #454545;
    text-decoration: none;
}
ul {
    list-style-type: disc;
    line-height: 1.35;
    color: #454545;
}
li {
    margin-bottom: 1.45vw;
    color: #454545;
}
hr {
    border: none;
    height: 0.065vw;
    color: #808080;  /* old IE */
    background-color: #808080;  /* Modern Browsers */
    padding: 0px;
    margin: 0px;
  }
  


/* header section with name and nav bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--laptop_header_footer_margins);
    padding-bottom: var(--laptop_header_footer_margins);
    overflow: hidden;
}
nav {
    padding-right: 0vw;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}
nav li {
    display: inline;
    text-decoration: none;
    margin: 0.25vw;
    color: white;
}
nav li a {
    text-decoration: none;
    color: white;
}
.nav_final {
    margin-right: 10vw;
}


/* a container for the main content of each webpage */
.container {
    padding: 2vw;
    margin: 0 auto;
    max-width: 100%;
}


/* styling for the h1 title on each page */
.page-title {
    text-align: center;
}
.page-title h1 {
    margin-left: 0vw;
    color: var(--theme_color);
    opacity: 0.95;
}



/* portfolio projects */
.project {
    justify-content: space-between;
    align-items: center;
}
.project-1 {
    flex-shrink: 0;
    margin-right: 5%;
}
.project-2 {
    flex-shrink: 0;
    margin-left: 0%;
}
.project p {
    white-space: normal;
} 
.project img {
    margin-top: 5vw;
    margin-bottom: 5px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.section-break {
    margin-bottom: 8vw;
}

/* about section projects */
.about-project ul {
    margin-left: 2vw; 
}
.text-image-wrap {
    margin-top: 0vw;
    padding-top: 0vw;
    padding-bottom: 0.75vw;
    display: inline-block;
}
.text-inline {
    margin-top: 0vw;
    margin-right: 2.5vw;
}
.image-inline-container img {
    border: none;
    margin-bottom: 0px;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 0vw;
    width: auto;
}


/* see more / see less sections */
.content-section {
    margin-top: 0px;
    padding-top: 0px;
}
.hidden-section {
    display: none;
}
.toggleButton {
    cursor: pointer;
    color: #454545;
    text-decoration: none;
}


/* images with no border */
.no_border_image {
    border: none;
}


/* quote sections from clients */
.quote-type {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-style: normal;
}
.quote h4 {
    text-align: left;
    color: #454545;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-weight: normal;
}
.quote h4 span {
    font-weight: bold;
}
.quote-text {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-style: italic;
    margin-left: 3vw;
    line-height: 1.8;
}


/* photography section */ 
.photography-container {
    position: relative;
}

.photography-image {
    border: 0.75px solid  #D3D3D3;
    width: auto;
}

 .previous, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: grey;
    color: rgb(97, 85, 85);
    padding: 1vw;
    border: none;
    cursor: pointer;
    opacity: 0.4;
  }
.previous:hover, .next:hover {
    background-color: grey;
    opacity: 1;
}








/*    old css for gradio container in VS


.gradio-container {
        background-color: #fbf7fb !important;
    }
.block.svelte-12cmxck {
        background-color: #fbf7fb !important;
    }
*/


/*    old css for gradio container in HF

.gradio-container {
    background-color: #fbf7fb !important;
}

*/
