        /* CSS Reset */
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            font-size: 100%;
            vertical-align: baseline;
        }

       /* body */ 
       body {
           font-family: Gotham;
            font-family: Century Gothic;
            color: #454545;
            max-width: 100%;
        }


        /* standard body elements */ 
        h1 {
            display: inline-block;
            color: #A9122A;
            font-size: 2.5vw;
            margin: 0.25vw;
            margin-left: 5vw;
            white-space: nowrap;
        }
        h2 {
            color: #A9122A;
            margin-top: 2.5px;
            padding-top: 2.5px;
            margin-bottom: 2.5px;
            padding-bottom: 2.5px;
            font-size: 2vw;
        }
        h3 {
            color: #454545;
            margin-top: 2.5px;
            padding-top: 2.5px;
            margin-bottom: 5px;
            padding-bottom: 5px;
            font-size: 1.65vw;
            font-weight: normal;
        }
        img {
            border: 0.25px solid #454545;
            width: 300px;
            height: auto;
            text-align: right;
            border-radius: 3%;
        }
        p {
            margin-top: 10px;
            font-size: 1.45vw;
            line-height: 1.8;
        }
        a {
            color: #454545;
            text-decoration: none;
        }
        u {
            font-size: 1.5vw;
        }
        ul {
            list-style-type: disc;
            font-size: 1.5vw;
            line-height: 1.35;
        }
        li {
            margin-bottom: 1.45vw;
        }
        hr {
            color: black;
        }


        /* header section with name and nav bar */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 2vw;
            padding-bottom: 2vw;
            overflow: hidden;
        }
        nav {
            background-color: white;
            padding-right:5vw;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
        }
        nav li {
            display: inline;
            color: #454545;
            text-decoration: none;
            margin: 0.25vw;
            margin-left: 7vw;
        }
        nav li a {
            font-size: 1.75vw;
            text-decoration: none;
        }
        .nav_final {
            margin-right: 7.5vw;
        }


        /* container for everything in the webpage past the navigation bar */
        .container {
            padding: 1.15vw;
            margin: 0 auto;
            width: 80%;
            max-width: 100%;
        }


        /* styling for the h1 title on each page */
        .page-title {
            text-align: center;
        }
        .page-title h1 {
            font-size: 2.5vw;
            margin-left: 0vw;
        }



        /* portfolio projects */
        .project {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .project-1 {
            flex-shrink: 0;
            margin-top: 2.5vw;
            margin-bottom: 2.5vw;
            margin-right: 5%;
            width: 47.5%;
        }
        .project-2 {
            flex-shrink: 0;
            margin-top: 2.5wv;
            margin-bottom: 2.5wv;
            margin-left: 0%;
            width: 47.5%;
        }
        .project h3 {
            font-size: 1.35vw;
        } 
        .project p {
            font-size: 1.25vw;
            white-space: normal;
        } 
        .project img {
            margin-top: 5vw;
            margin-bottom: 0px;
            height: 17.5vw;
            width: auto;
            display: block;
            margin: 0 auto;
        }
        .about-project {
            margin-top: 2.5vw;
            margin-bottom: 2.5vw;
        }


        /* containers for about section text/image combinations that appear side by side */
        .text-image-wrap {
            margin-top: 0px;
            padding-top: 0px;
            display: flex;
        }
        .text-inline {
            margin-right: 5vw;
        }
        .image-inline-container img {
            border: none;
            margin-top: 5vw;
            margin-bottom: 0px;
            height: 17.5vw;
            width: auto;
            display: block;
            margin: 0 auto;
        }


        /* see more / see less sections */
        .content-section {
            margin-top: 0px;
            padding-top: 0px;
        }
        .hidden-section {
            display: none;
        }
        .toggleButton {
            cursor: pointer;
            color: #454545;
            text-decoration: none;
        }


        /* images with no border */
        .no_border_image {
            border: none;
        }


        /* quote sections from clients */
        .quote {
            margin-top: 2.5vw;
            margin-bottom: 4vw;
        }
        .quote-type {
            margin-bottom: 0px;
            padding-bottom: 0px;
            font-style: normal;
        }
        .quote h4 {
            text-align: left;
            color: #454545;
            margin-top: 1.5vw;
            margin-bottom: 1.5vw;
            font-size: 1.35vw;
            font-weight: normal;
        }
        .quote h4 span {
            font-weight: bold;
        }
        .quote-text {
            font-size: 1.25vw;
            margin-top: 1.5vw;
            margin-bottom: 1.5vw;
            font-style: italic;
            margin-left: 3vw;
            line-height: 1.8;
        }


        /* photography section */ 
        .photography-container {
            position: relative;
        }

         .previous, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: grey;
            color: white;
            padding: 1.5vw;
            border: none;
            cursor: pointer;
            opacity: 0.4;
          }
          .previous {
            right: 28.25vw;
          }
          .next {
            left: 28.25vw;
          }
        .previous:hover, .next:hover {
            background-color: grey;
            opacity: 1;
        }

        /* footer section */ 
        footer {
            width: 80%;
            margin: 0 auto;
            padding-top: 2vw;
            padding-bottom: 2vw;
            white-space: nowrap;
            overflow: hidden;
        }
        footer ul {
            justify-content: space-between;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
        }
        footer li {
            display: inline;
            color: #454545;
            text-decoration: none;
            margin: 0.25vw;
            margin-left: 6vw;
            font-size: 1.35vw;
        }
        footer li a {
            text-decoration: none;
            font-size: 1.35vw;
            margin: 0.25vw;
        }
        .nav_final {
            margin-right: 7.5vw;
        }